<?xml version="1.0"?>
<launch>
	<node name= "rviz" pkg= "rviz" type= "rviz" args="-d $(find vk_slam)/vk_slam.rviz"/>
	<node name="vk_slam" pkg="vk_slam" type="vk_slam" output="screen">
		<param name = "~delta_x" type = "double" value = "0.02"/>
		<param name = "~delta_y" type = "double" value = "0.02"/>
		<param name = "~delta_theta" type = "double" value = "0.01"/>
		
		<param name = "~init_pose_x" type = "double" value = "0.0"/>
		<param name = "~init_pose_y" type = "double" value = "0.0"/>
		<param name = "~init_pose_theta" type = "double" value = "0.0"/>
		
		<param name = "~map_frame" type = "string" value = "map"/>
		<param name = "~e_threshold" type = "double" value = "0.1"/>
		<param name = "~min_cumulative_distance" type = "double" value = "2.0"/>
		<param name = "~dist_threshold" type = "double" value = "1.0"/>
		<param name = "~converged_graph" type = "double" value = "0.001"/>
		
		<param name = "~max_inter" type = "double" value = "100"/>
		<param name = "~throttle_scan" type = "double" value = "2"/>
	</node>
</launch>
